
SPOTFLOW_SECRET_KEY=sk_test_3500ece212364e11abd01984afdd67b3
SPOTFLOW_PAYOUT_SOURCE_ACCOUNT=your_main_spotflow_account_number
SPOTFLOW_WEBHOOK_SIGNING_SECRET=whsec_test_d9bbfb67d12d49dabc796e0f660c823d
DB_PASSWORD=Abia@%#13


